.header {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  min-height: 120px;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (max-width: 1024px) {
  .header {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (max-width: 700px) {
  .header {
    min-height: 85px;
    padding-bottom: 31px;
    padding-top: 28px;
  }
}
