.popup__fieldset_type_description {
  margin-bottom: 48px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 631.98px) {
  .popup__fieldset_type_description {
    margin-bottom: 45px;
  }
}
