.btn_el_like {
  min-width: 22px; /* иначе сжимается текстом*/
  height: 20px;

  background: url('../../../images/icon_like.svg') no-repeat center/contain;
}

.btn_el_like:hover {
  opacity: .5;
}

.js-active {
  background: url('../../../images/icon_like_black.svg') no-repeat center/contain;
}
